body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

.page-title {
    margin: 20px 0;
    text-align: center;
}

.product-card {
    transition: 0.3s;
    border-radius: 10px;
}

.product-card:hover {
    transform: scale(1.05);
}

.total-price {
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
}
